<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	
	<connectionStrings>
  <add name="CadenaConexion_CiudadanosRegistrados" connectionString="Data Source=DESKTOP-5OGRG0H\SQLSERVEROSCAR;Initial Catalog=CiudadanosRegistrados;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="ActividadDesempeño_RegistroCiudadanos_0902_22_12338.Properties.Settings.CadenaConexion_CiudadanosRegistrados"
   connectionString="Data Source=DESKTOP-5OGRG0H\SQLSERVEROSCAR;Initial Catalog=CiudadanosRegistrados;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>