<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Properties.Settings.CadenaConexion_CiudadanosRegistrados"
            connectionString="Data Source=DESKTOP-5OGRG0H\SQLSERVEROSCAR;Initial Catalog=CiudadanosRegistrados;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>